:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --color-accent: #2196f3;
  --color-white: #ffffff;
  --color-hero: #2f303a;
  --color-footer: #2f303a;
  --color-team: #f5f4fa;
  --color-hero-button: #188ce8;
  --color-address: rgba(255, 255, 255, 0.6);
  --font-logo: 'Raleway', sans-serif;
}
.list-reset {
  list-style: none;
}
body {
  font-size: 16px;
  font-style: normal;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
/*Стилізація шапки сторінок студія та портфоліо*/

.logo-web {
  color: var(--color-accent);
}
.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.logo-studio-h {
  color: var(--primary-text-color);
}
.menu-link {
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-accent);
}

.contact-link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--color-accent);
}

/*Секція-герой-Студія*/
.hero {
  background-color: var(--color-hero);
}
.hero-title {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}
.hero-button {
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.87;
  background-color: var(--color-accent);
  color: var(--color-white);
  letter-spacing: 0.06em;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-hero-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  border: none;
}
/* Секція-Наші-переваги-Студія*/

.features-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Секція-Чим-ми-займаємось-Студія */
.specifics-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Секція-Наша-команда-Студія*/
.ourteam {
  background-color: var(--color-team);
}

.ourteam-item {
  background-color: var(--color-white);
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 0px 0px 4px 4px;
}
.ourteam-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.ourteam-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Стилізація-секції-Наші-проекти-Портфоліо  */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-radio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.portfolio-radio-btn:hover,
.portfolio-radio-btn:focus {
  background-color: var(--color-accent);
  color: var(--color-white);
  cursor: pointer;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Стилізація-підвалу-Студія-та-Портфоліо */
.footer {
  background-color: var(--color-footer);
}
.footer {
  background-color: var(--color-footer);
}
.logo-studio-f {
  color: var(--color-white);
}
.maps-location {
  color: var(--color-white);
}
.address-link {
  font-style: normal;
  text-decoration: none;
  color: var(--color-address);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: var(--color-accent);
}
